.icons{
    padding-left: 45rem;
}
.card-img-overlay{
    padding-bottom: 150px;
}
.my-5 {
    margin-top: -27rem;
    margin-bottom: 3rem;
}
#d1{
    padding-left: 50px;
    display: flex;
    justify-content: center;
}
#about{
    background-color: black;
}
#img5{

    width: px;
}
